* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#telaInicial {
    background: url(../img/bg_inicial.jpg) no-repeat center;
    background-size: cover;
}

#usuario {
    outline: none;
}

#campoDigitacao {
    resize: none;
    outline: none;
    border: 1px solid transparent;
}

.border-sucess {
    border-color: #9BCF53 !important;
}

.border-danger {
    border-color: #D04848 !important;
}

#buttons button {
    border-radius: 100%;
    background-color: #0068aa;
}

.disabled {
    background-color: #303C58 !important;
}