* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AntaRegular", sans-serif;
}

@font-face {
    font-family: "AntaRegular";
    src: url(../fonts/Anta-Regular.ttf) format('truetype');
}

#telaInicial {
    background: url(../img/background.jpg) no-repeat left;
    background-size: cover;
}

#jogo {
    background: url(../img/background_dois.jpg) no-repeat center;
    background-size: cover;
}

#usuario {
    outline: none;
}

#campoDigitacao {
    resize: none;
    outline: none;
    border: 1px solid transparent;
}

.border-sucess {
    border-color: #9BCF53 !important;
}

.border-danger {
    border-color: #D04848 !important;
}

#buttons button {
    border-radius: 100%;
    background-color: #0068aa;
}

.disabled {
    background-color: #303C58 !important;
}

#placar {
    height: 100%;
    overflow-y: auto; 
}

#placar::-webkit-scrollbar {
    width: 8px;
    height: 8px; 
}
/* 
#placarr::-webkit-scrollbar-track 
    background: #f5f5f5;  
    border-radius: 10px;  
} 
*/

#placar::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* color of the scroll thumb */
    border-radius: 10px; /* roundness of the scroll thumb */
}